@import url(./styles/fonts.css);
@import url(./styles/header.css);
@import url(./styles/highlight.css);
@import url(./styles/snippets.css);

:root {
  font-family:
    "google-sans-flex",
    "playfair-display",
    "roboto",
    Arial,
    Helvetica,
    sans-serif,
    system-ui,
    -apple-system;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
